### Day 12
#### Dictionary methods

    'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

In [1]:
print(dir(dict),end="\t")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
d={'name':'priya','rollno':119422,'workshop':'priya'}
print(d.keys()) ##only keys
print(d.values()) ## only values
print(d.items())  ## both keys and values

dict_keys(['name', 'rollno', 'workshop'])
dict_values(['priya', 119422, 'priya'])
dict_items([('name', 'priya'), ('rollno', 119422), ('workshop', 'priya')])

In [11]:
for i in d:
    print(i,':',d[i])

name : priya
rollno : 119422
workshop : priya

In [34]:
print(d.fromkeys('name'))
print(d.fromkeys('name',56))
print(d.fromkeys('name',(56,58,78,48)))
#print(d.fromkeys('name',56,87,54,15)) # takes only 2 arguments 
print(d.fromkeys('section'))
#print(d.fromkeys()) ## fromkeys expected at least 1 argument, got 0

{'n': None, 'a': None, 'm': None, 'e': None}
{'n': 56, 'a': 56, 'm': 56, 'e': 56}
{'n': (56, 58, 78, 48), 'a': (56, 58, 78, 48), 'm': (56, 58, 78, 48), 'e': (56, 58, 78, 48)}
{'s': None, 'e': None, 'c': None, 't': None, 'i': None, 'o': None, 'n': None}

In [40]:
d={'name':'priya','rollno':119422,'workshop':'priya'}
print(d)
# d.pop() #pop expected at least 1 argument, got 0
d.pop('workshop')
print(d)
d.pop('workshop','name') # pop only removes only 1 element
print(d)

{'name': 'priya', 'rollno': 119422, 'workshop': 'priya'}
{'name': 'priya', 'rollno': 119422}
{'name': 'priya', 'rollno': 119422}

In [48]:
d={'name':'priya','rollno':119422,'workshop':'priya','abcd':1}
print(d)
d.popitem() ## removes the last element and takes no arguments
#d.popitem('name') ## removes the last element and takes no arguments
print(d)

{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1}
{'name': 'priya', 'rollno': 119422, 'workshop': 'priya'}

In [56]:
d={'name':'priya','rollno':119422,'workshop':'priya','abcd':1}
print(d)
d.setdefault('age')
print(d)
d.setdefault('age',23) #using setdefault onces gives value we can't change the value 
print(d)
d.setdefault('year',2021)
print(d)
d.setdefault('year',2022)
print(d)

{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1}
{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1, 'age': None}
{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1, 'age': None}
{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1, 'age': None, 'year': 2021}
{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1, 'age': None, 'year': 2021}

In [59]:
d['age']=23 # without using set default we can change the value
print(d)

{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1, 'age': 23, 'year': 2021}

In [61]:
d={'name':'priya','rollno':119422,'workshop':'priya','abcd':1}
d['name']

'priya'

In [2]:
d={'name':'priya','rollno':119422,'workshop':'priya','abcd':1}
print(d.get('rollno'))
print(d.get('name'))

119422
priya

In [4]:
n=dict(input())
print(n)

(1,2),('python',45)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [6]:
n={'name':('priya','vishnu')}
print(n,type(n))

{'name': ('priya', 'vishnu')} <class 'dict'>

In [8]:
n=dict(map(str,input().split()))
print(n)

('python',56) ('work',24)

ValueError: dictionary update sequence element #0 has length 13; 2 is required

In [11]:
d={'name':'priya','rollno':119422,'workshop':'priya','abcd':1}
print(d)
d.update({'workshop':'python'})
print(d)
d.update({'hello':'hi'})  ##appends element at last position
print(d)

{'name': 'priya', 'rollno': 119422, 'workshop': 'priya', 'abcd': 1}
{'name': 'priya', 'rollno': 119422, 'workshop': 'python', 'abcd': 1}
{'name': 'priya', 'rollno': 119422, 'workshop': 'python', 'abcd': 1, 'hello': 'hi'}

In [14]:
del d  ## To delete dicionary
print(d)

NameError: name 'd' is not defined

#### Sets
    sets are a collection of distinct object
    sets doesn't allow duplicates i.e., it removes duplicates
    set is defined using { }
    set is unordered 
    set is mutable 
    In set we can't use indexing to modify values

In [18]:
s=set()
print(type(s))

<class 'set'>

In [20]:
s={1,2,3,'priya',1,2,90.78}
print(s,type(s))

{1, 2, 3, 90.78, 'priya'} <class 'set'>

In [21]:
##nested set won't support
s={1,2,3,{'priya',90.78},1,2,90.78}

TypeError: unhashable type: 'set'

In [23]:
s={1,2,3,'priya',1,2,90.78}
s[4] ##indexing not supported

TypeError: 'set' object is not subscriptable

In [26]:
s[4]=87
print(s) #not mutable using indexing in set

TypeError: 'set' object does not support item assignment

In [28]:
s={1,12,34,45,67,89}  ##set supports builtin functions
print(min(s),max(s),len(s),sorted(s),sum(s),sep="\n")

1
89
6
[1, 12, 34, 45, 67, 89]
248

In [29]:
print(dir(set),end="\t")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#### Set methods
'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

In [33]:
s={1,2,3,4,5,6}
s.add(16)
print(s)
##s.add(16,34)  ##takes only 1 argument
##s.add() ##takes atleat 1 argument

{1, 2, 3, 4, 5, 6, 16}

In [49]:
s={1,2,3,4,5,6,'a','b'}
s.update('y')
print(s)
s.update('s','k') ##takes multiple arguments and can't pass integer 
print(s)
s.update() ##accepts no arguments
print(s)
#s.update(17) #'int' object is not iterable

{1, 2, 3, 4, 5, 6, 'a', 'y', 'b'}
{1, 2, 3, 4, 5, 6, 'a', 'k', 's', 'y', 'b'}
{1, 2, 3, 4, 5, 6, 'a', 'k', 's', 'y', 'b'}

In [57]:
s={3,11,0,2,3,4,5}
s.pop()   ##removes one random element from set
print(s)
#s.pop(0)  #pop won't accept any arguments

{2, 3, 4, 5, 11}

In [67]:
s={1,2,3,4,5}
#s.remove() atleast one argument
print(s)
s.remove(1) 
print(s)
#s.remove(2,3) ## takes only 1 argument
#s.remove(90) ## if don't have that value defined in set it displays an error

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [69]:
s={1,2,3,4,5,6}
s.discard(4) ##takes only 1 argument
print(s)
s.discard(90) #won't give any error if the value not existed in set
print(s)

{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6}

In [73]:
s1={1,2,3,4,5,6}
s2={11,12,3,13,5}
print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 11, 12, 13}

In [82]:
s1={1,2,3,4,5,6}
s2={11,12,3,13,5}
print(s1.intersection(s2))

{3, 5}

In [83]:
s1={1,2,3,4,5,6}
s2={11,12,3,13,5}
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.difference_update(s2))
print(s1)

{1, 2, 4, 6}
{11, 12, 13}
None
{1, 2, 4, 6}

In [81]:
s1={1,2,3,4,5,6}
s2={11,12,3,13,5}
print(s1.intersection_update(s2))
print(s1)

None
{3, 5}

In [92]:
s1={1,2,3,4,5,6}
s2={7,8,9}
s3={1,2,3,4,5}
a=s1.isdisjoint(s2)
b=s1.isdisjoint(s3)
print(a,b,sep='\n')

True
False

In [93]:
s1={1,2,3,4,5,7}
s2={1,2,3,4}
a=s1.issuperset(s2)
b=s2.issuperset(s1)
print(a,b,sep="\n")

True
False

In [94]:
s1={1,2,3,4,5,7}
s2={1,2,3,4}
a=s1.issubset(s2)
b=s2.issubset(s1)
print(a,b,sep="\n")

False
True

In [98]:
s1={1,2,3,4,5,7}
s2={1,2,3,4}
a=s1.symmetric_difference(s2) ## displays different elements
b=s2.symmetric_difference(s1)
print(a,b,sep="\n")

{5, 7}
{5, 7}

In [99]:
a.clear()
a

set()

In [102]:
del a
a

NameError: name 'a' is not defined

In [107]:
## List to tuple
l=[12,13,14,56]
print(type(l))
d=tuple(l)
print(d,type(d))

<class 'list'>
(12, 13, 14, 56) <class 'tuple'>

In [108]:
## tuple to list
t=(12,13,14,56)
print(type(t))
d=list(l)
print(d,type(d))

<class 'tuple'>
[12, 13, 14, 56] <class 'list'>

In [109]:
## List to set
l=[12,13,14,56,12]
print(type(l))
d=set(l)
print(d,type(d))

<class 'list'>
{56, 12, 13, 14} <class 'set'>

In [110]:
## set to list
l={12,13,14,56,12}
print(type(l))
d=list(l)
print(d,type(d))

<class 'set'>
[56, 12, 13, 14] <class 'list'>

In [111]:
## tuple to set
t=(12,13,14,56)
print(type(t))
d=set(l)
print(d,type(d))

<class 'tuple'>
{56, 12, 13, 14} <class 'set'>

In [112]:
## set to tuple
t={12,13,14,56}
print(type(t))
d=tuple(l)
print(d,type(d))

<class 'set'>
(56, 12, 13, 14) <class 'tuple'>