## Operators in Python
1. Arithmeti operators
    - +,-,*,/,//,%
2. Assignment operators 
    - =,=+,-=,*=,/=%=
3. comparision operators
    - ==,!=,>,<,>=,<=
4. Logical operators
    - and,or,not
5. Bitwise operators
    - &,|,^,~,<<,>>
6. Identity operators
    - is,isnot
7. Membership operators
    - in,notin

## Asignment Operators
=,=+,-=,*=,/=%=

In [6]:
x=12

In [7]:
x+=1
x

13

In [8]:
x-=1
x

12

In [9]:
x*=2
x

24

In [10]:
x/=2
x

12.0

In [11]:
x%=12
x

0.0

## comparision operators
    - ==,!=,>,<,>=,<=

In [14]:
a1=56
a2=78
print(a1==a2)
print(a1!=a2)
print(a1>a2)
print(a1>=a2)
print(a1<a2)
print(a1<=a2)

False
True
False
False
True
True

## Logical operators
    - and,or,not

|i/p1|i/p2|i/p1 and i/p2|i/p1 or i/p2|
|----|----|-------------|------------|
|0|0|0|0|
|0|1|0|1|
|1|0|0|1|
|1|1|1|1|

In [16]:
s1,s2=12,23
s1<10 and s2<10

False

In [17]:
s1,s2=12,23
s1<10 and s2<10

False

## Bitwise operators
    - &,|,^,~,<<,>>

In [18]:
x=2 ##0010
y=3 ##0011
x & y

2

In [19]:
x | y

3

In [20]:
x^y

1

In [24]:
print(x)
~x

2

-3

In [22]:
~y

-4

#### >>--divided with 2 up to given number of times
#### <<--multiplied with 2 up to given number of times

In [25]:
12>>2 ## 12/2=6 6/2=3

3

In [26]:
13>>4

0

In [27]:
25>>3

3

In [28]:
5<<3

40

#### Identity operators
    - is,isnot

In [37]:
x=[1,2,3]
y=[2,3,5]
print(x is y)
print(x is not y)
id(y)
id(x)

False
True

2886525440320

In [38]:
x=34
y=34
print(id(x))
print(id(y))
print(x is y)

140713274321728
140713274321728
True

In [39]:
x=257
y=257
print(id(x))
print(id(y))
print(x is y)

2886525519920
2886525518096
False

In [43]:
ab=input("Enter a name: ")
print(ab)
print(type(ab))

Enter a name: 1
1
<class 'str'>

In [45]:
a=input()
print(a)
print(type(a))

<class 'str'>

In [46]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [ ]:
a=int(input("enter: "))
print(a)
print(type(a))

In [5]:
x1=float(input("enter: "))
x2=float(input("enter: "))
print(x1+x2)
print(type(x1),type(x2))

enter: 0.99
enter: 9.08
10.07
<class 'float'> <class 'float'>

In [9]:
x=float(input("enter: "))
y=float(input("enter: "))
print("Addition",x+y,type(x+y))
print("Subtraction",x-y,type(x-y))
print("Multiplication",x*y,type(x*y))
print("Exponential",int(x)^int(y))
print("Division",x/y,type(x/y))
print("Floor Division",x//y,type(x//y)) 
print("Modulus Division",x%y,type(x%y))

enter: 11.23
enter: 2.54
Addition 13.77 <class 'float'>
Subtraction 8.690000000000001 <class 'float'>
Multiplication 28.5242 <class 'float'>
Exponential 9
Division 4.421259842519685 <class 'float'>
Floor Division 4.0 <class 'float'>
Modulus Division 1.0700000000000003 <class 'float'>