### Day 10
- List(contd...)
- Dictionary

In [16]:
## accessing the elements in list
#index
l=[45,58,96,1,58,0,7]
print(l[2]) #positive indexing
print(l[-5]) #negative indexing
print(l[::-1]) #reversing
print(l[2:5])
print(l[-5:-2])
print(l[1:6:2])

96
96
[7, 0, 58, 1, 96, 58, 45]
[96, 1, 58]
[96, 1, 58]
[58, 1, 0]

In [22]:
#list concatination
l1=[1,5,8,9,6,4]
l2=[5,9]
print(l1+l2)
l3=['python']
l4=['workshop']
print(l3+l4)

[1, 5, 8, 9, 6, 4, 5, 9]
['python', 'workshop']

In [27]:
#nested list:
li=[23,45,67,[16,89,56,90],30]
print(li,type(li))
print(li[2])
print(li[3])
print(li[3][2])

[23, 45, 67, [16, 89, 56, 90], 30] <class 'list'>
67
[16, 89, 56, 90]
56

In [33]:
#list is mutable
li=list(input())
li[5]=9
print(li)
li=[23,45,67,[16,89,56,90],30]
li[3][3]=89
print(li)

12345324
['1', '2', '3', '4', '5', 9, '2', '4']
[23, 45, 67, [16, 89, 56, 89], 30]

- built in functions like max,min can't be used for nested list

In [34]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### list.append()
1. The append() method appends an element to the end of the list.
2. syntax: list.append(elmnt)
3. elmnt -> Required. An element of any type (string, number, object etc.)

In [40]:
li=[12,11,10,34,67,2,88]
li.append(16)
print(li)

[12, 11, 10, 34, 67, 2, 88, 16]

#### list.insert()
1. The insert() method inserts the specified value at the specified position.
2. syntax: list.insert(pos, elmnt)
3. pos	-> Required. A number specifying in which position to insert the value
4. elmnt -> Required. An element of any type (string, number, object etc.)
5. not applicable for nested list

In [41]:
li.insert(2,16)
print(li)

[12, 11, 16, 10, 34, 67, 2, 88, 16]

#### list.count()
1. The count() method returns the number of elements with the specified value.
2. syntax: list.count(value)
3. value	-> Required. Any type (string, number, list, tuple, etc.). The value to search for

In [42]:
li=[12,11,10,34,67,2,88,88,88]
print(li.count(88))

3

#### list.index
1. The index() method returns the position at the first occurrence of the specified value.
2. syntax: list.index(elmnt)

In [44]:
li=[12,11,10,34,67,2,88,88,88]
print(li.index(88))

6

#### list.remove()
1. The remove() method removes the first occurrence of the element with the specified value.
2. list.remove(elmnt)

In [45]:
li=[12,11,10,34,67,2,88,88,88]
li.remove(67)
print(li)

[12, 11, 10, 34, 2, 88, 88, 88]

#### list.pop()
1. The pop() method removes the element at the specified position.
2. syntax: list.pop(pos)
3. pos -> Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

In [49]:
li=[12,11,10,34,67,2,88,10,88]
li.pop()
print(li)
li.pop(7)
print(li)

[12, 11, 10, 34, 67, 2, 88, 10]
[12, 11, 10, 34, 67, 2, 88]

#### list.reverse()
1. The reverse() method reverses the sorting order of the elements.
2. syntax: list.reverse()
3. No parameters

In [54]:
li=[12,11,10,34,67,2,88,10,88]
li.reverse()
print(li)

[88, 10, 88, 2, 67, 34, 10, 11, 12]

#### list.sort()
1. The sort() method sorts the list ascending by default.
2. syntax: list.sort(reverse=True|False, key=myFunc)
3. reverse	-> Optional. reverse=True will sort the list descending. Default is reverse=False
4. key	-> Optional. A function to specify the sorting criteria(s)

In [56]:
li=[12,11,10,34,67,2,88,10,88]
li.sort()
print(li)
li.sort(reverse=True)
print(li)

[2, 10, 10, 11, 12, 34, 67, 88, 88]
[88, 88, 67, 34, 12, 11, 10, 10, 2]

#### li.extend()
1. The extend() method adds the specified list elements (or any iterable) to the end of the current list.
2. syntax: The extend() method adds the specified list elements (or any iterable) to the end of the current list.
3. iterable	-> Required. Any iterable (list, set, tuple, etc.)

In [57]:
l1=[23,12,7]
l2=[45,67,2]
l1.extend(l2)
print(l1)
print(l2)

[23, 12, 7, 45, 67, 2]
[45, 67, 2]

In [58]:
l2.extend(l1)
print(l1)
print(l2)

[23, 12, 7, 45, 67, 2]
[45, 67, 2, 23, 12, 7, 45, 67, 2]

In [59]:
#assignment
t=[7,45,34,2]
t1=t
print(t)
print(t1)
t.append(90)
print(t)
print(t1)

[7, 45, 34, 2]
[7, 45, 34, 2]
[7, 45, 34, 2, 90]
[7, 45, 34, 2, 90]

#### list.copy()

In [61]:
t=[7,45,34,2]
t1=t.copy()
print(t)
print(t1)
t.append(90)
print(t)
print(t1)

[7, 45, 34, 2]
[7, 45, 34, 2]
[7, 45, 34, 2, 90]
[7, 45, 34, 2]

#### list.clear()
1. The clear() method removes all the elements from a list.
2. list.clear()
3. No parameters

In [62]:
t=[7,45,33,22]
t.clear()
print(t)

[]

#### del()
1. The del keyword is used to delete objects. In Python everything is an object, so the del keyword can also be used to delete variables, lists, or parts of a list etc.

In [64]:
t=[7,45,33,22]
del(t)
print(t)

NameError: name 't' is not defined

#### Tasks

    l=[1,5,10,20,50]        --> [1,25,100,400,2500]   #power up
    l=[1,5,10,20,50]        --> calculate average
    l=[12,13,14,6,78,12,13] --> print unique elements
    l=[12,13,14,6,78,12,13] --> remove duplicates

In [9]:
# 1
l=[1,4,6,9]
li=[]
for i in l:
    li.append(i**2)
print(li)

[1, 16, 36, 81]

In [12]:
# 2
l=[1,2,3,4,5]
print("Average: ",sum(l)/len(l))

Average:  3.0

In [21]:
## for dynamic input we use map
# synatx: map(datatype,input().split())
l=list(map(int,input().split()))
print("Average: ",sum(l)/len(l))

7 14 21 28
Average:  17.5

In [26]:
# 3
l=list(map(int,input().split()))
li=[]
for i in l:
    if l.count(i)==1:
        li.append(i)
print(li)

1 1 2 2 3 4 3 4
[]

In [27]:
# 4
l=list(map(int,input().split()))
li=[]
for i in l:
    if i not in li:
        li.append(i)
print(li)

1 1 2 2 3 3 4 4
[1, 2, 3, 4]